body{
    font-family: 'Karla', monospace;
    line-height: 1.8;
    color: #333;
    font-size: 18px;
}

li{
    list-style: none;
    width: 100%;
}

ul{
    width:75%;
}

.left-main-div{
    float: left;
    width: 25%;
    background-color: #eee;
    max-height: 100vh;
    overflow-y: scroll;
}

.right-main-div {
    padding-left: 30%;
}

#header{
    height: 10vh;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1vh;
}

.breed-button{
    font-family: 'Karla', monospace;
    line-height: 1.8;
    color: #333;
    font-size: 18px;
    text-transform:capitalize;

    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    padding: 5% 10%;
    text-align: left;
    text-style: capitalize;

}
